<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- title -->
    <title> transaction</title>
</head>

<body>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100 fixed-left" style="width: 250px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link link-dark mx-4" aria-current="page">
                    Home
                 </a>
            </li>
            <li>
                <a href="#abc" class="nav-link link-dark mx-4">
                    My Courier
                </a>
            </li>
            <li>
                <a href="#b" class="nav-link link-dark mx-4">
                   My Courier history
                </a>
            </li>
            <li>
                <a href="#c" class="nav-link link-dark mx-4">
                    My feedback
                </a>
            </li>
            <li>
                <a href="#d" class="nav-link link-dark mx-4">
                    My Complaint
                </a>
            </li>
        </ul>
        <hr>
        <div class="nav ">

            <li><a class="nav-link link-dark mx-4" href="/logout">Sign out</a></li>

        </div>

    </div>

</body>

</html>