<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<div class="container" style="height: 100vh; width:100vw">
    <div class="row " style="width:100%; padding :100px;margin-left:20%;">
        <div class="col-md-6 card d-flex justify-content-center">
            <h3 class="d-flex justify-content-center">reset password</h3>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label>Old password:</label>
                    <input type="text" class="form-control" name="old_password" required>
                </div><br>
                <div class="form-group">
                    <label>new password</label>
                    <input type="email" class="form-control" name="new_password" required>
                </div><br>
                <div class="form-group">
                    <label>confirm Password:</label>
                    <input type="password" class="form-control" name="confirm_password" required>
                </div><br>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
            <a href="/">back to home</a>
        </div>
    </div>
</div>